.header {
    display: inline-flex;
    padding: 20.75rem 21rem 4rem 21rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 12.4375rem;

}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.name {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.front {
    color: red;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pic {
    object-fit: cover;
    width: 164px;
    height: 164px;
    border-radius: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.aboutMe {
    max-width: 600px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


h1 {
    color: red;
}