h1 {
    color: #FFF;

    text-align: center;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: red;

    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

section {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

p {
    color: #FFF;

    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}