.tech {
    display: inline-flex;
    height: 980px;
    padding: 0px 244px 0px 346px;
    justify-content: flex-end;
    align-items: center;
    gap: 124px;
    flex-shrink: 0;
    background: #08115e;
}