section {
    display: inline-flex;
    padding: 128px 346px 124px 346px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

img {
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border-bottom: 20px solid #0025FF;
    border-left: 20px solid #0025FF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
}